.woocommerce-products-header__title{
    text-align: center;
    color: $textDark;
    text-transform: uppercase;
    // background-color: white;
    margin-bottom: 30px;
    display: none;
}
body.shop{
    background-color:white;
}
.main-content{
    padding: 0 40px;
    background-color: white;
    @include responsive(sm){
        padding: 0 15px;
    }
    .inner{
        max-width: 1400px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        @include responsive(sm){
            overflow: visible;
        }
        .hide-filters-mobile{
            transition: 0.4s ease;
            display: none;
            width: 60px;
            height: 60px;
            padding: 20px 15px;
            position: fixed;
            background-color: #313131;
            z-index: 12;
            top: calc( 100dvh - 90px);
            right: 20px;
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
            justify-content: space-between;
            @include responsive(sm){
                display: flex;
            }
            span{
                transition: 0.4s ease;
                background-color: $grey;
                border-radius: 2px;
                box-shadow: 0 0 3px;
                &.rect{
                    width: 25%;
                    height: 100%;
                }   
                &.square{
                    width: 65%;
                    height: 100%;
                }   
            }
            &.cross{
                transition: 0.4s ease;
                padding: 12px;
                span{
                    transition: 0.4s ease;
                    width: 15%;
                    &.rect{
                        transform: translateX(11px) translateY(-11px);
                        rotate: -315deg;
                        // rotate: 45deg;
                    }
                    &.square{
                        transform: translateX(-11px) translateY(-11px);
                        rotate: -405deg;
                        // rotate: -45deg;
                    }
                }
            }
        }
        .top-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-size: 12px;
            padding: 15px 0;
            border-bottom:1px solid #cecece;
            @include responsive(sm){
                position: fixed;
                background-color: white;
                top: 90px;
                z-index: 20;
                justify-content: space-between;
                grid-gap: 0px;
                width: 100%;
                left: 0;
                padding: 15px;
            }
            .hide-filters{
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
                border-radius: 3px;
                .text{
                    @include responsive(sm){
                        display: none;
                    }
                }
                svg{
                    width: 18px;
                    margin-right: 5px;
                    @include responsive(sm){
                        width: 22px;
                    }
                }
            }
            .sort{
                width: 255px;
                min-width: 255px;
            }
            .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > a{
                transition: 100ms;
                &:hover{
                    text-shadow:0 0 0.8px #000;
                }
            }
            .yith-wcan-filters{
                margin-bottom: 0;
                background-color: transparent;
            }
            .yith-wcan-filter.filter-orderby{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                justify-content: flex-end;
                @include responsive(sm){
                    position: relative;
                }
                .filter-title{
                    margin: 0;
                    text-transform: uppercase;
                    @include responsive(sm){
                        margin-right: 15px;
                    }
                }
                .filter-content{
                    @include responsive(sm){
                        position: absolute;
                    }
                    .yith-wcan-dropdown{
                        border: 0;
                        padding: 8px;
                        padding-right: 15px;
                        &::after{
                            right: 0px;
                            top: calc(50% - 7px);
                            filter: drop-shadow(0px 1px 0px black);
                        }
                        &.open{
                            box-shadow: 0 0 0 0;
                        }
                        .dropdown-label{
                            font-weight: 500;
                            // text-transform: uppercase;
                            @include responsive(sm){
                                opacity: 0;
                            }
                        }
                        .dropdown-wrapper{
                            width: 185px;
                            min-width: 185px;
                            left: auto;
                            ul{
                                margin-top:0;
                                overflow: auto;
                                -ms-overflow-style: none; /* IE 11 */
                                scrollbar-width: none;
                                li{
                                    margin-bottom:0;
                                }
                            }
                        }
                        .filter-items{
                            .filter-item{
                                &.active{
                                    a{
                                        font-weight: 500;
                                    }
                                }
                                a{
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
        .products-wrapper{
            display: flex;
            @include responsive(sm){
                display: unset;
            }
            .filters{
                width: 250px;
                min-width: 250px;
                background-color: white;
                transition: all .3s ease-in-out ;
                @include responsive(sm){
                    position: fixed;
                    top: 135px;
                    padding-left: 20px;
                    z-index: 10;
                    border: 1px solid #c0c0c0;
                    border-left: 0;
                    height: calc(100dvh - 135px);
                    overflow: auto;
                    overflow-x: hidden;
                    margin-left: -15px;
                    transform: translateX(-100%);
                }
                @include responsive(xs){
                    width: 80%;
                }
                .aws-container{
                    margin-top: 36px;
                    margin-bottom: 50px;
                }
                .yith-wcan-filters{
                    background-color: transparent;
                    .yith-wcan-filter{
                        margin-bottom: 60px;
                    }
                    .filter-title{
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                }
                .filter-content{
                    .filter-item{
                        box-shadow: 0 0 0;
                        transition: 100ms;
                        background-color: transparent;
                        padding:0;
                        margin-bottom:0;
                        a{
                            display: flex;
                            align-items: center;
                            .term-image{
                                transition: 200ms;
                                margin-right: 15px;
                                background-color: transparent;
                                border: 1px solid #7c7c7c;
                                margin-left:3px;
                                img{
                                    transition: 200ms;
                                    width: 15px;
                                    scale: 1;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                    .filter-item.label:not(.disabled):hover{
                        box-shadow: 0 0 0;
                        transition: 100ms;
                        background-color: transparent;
                    }
                    .filter-item.label.active.with-image{
                        box-shadow: none;
                    }
                    .filter-item.label.active.with-image:not(.label-right) > a:after{
                        display: none;
                    }
                    .filter-item.label.active.with-image a .term-image{
                        transition: 200ms;
                        background-color: black;
                        
                        img{
                            transition: 600ms;
                            scale: 1.5;
                            opacity: 1;
                        }
                    }
                    .filter-item.label.active.with-image a .term-label{
                        font-weight: 700;
                        // text-transform: uppercase;
                    }
                }
                &.close{
                    transform: translateX(calc(-100% - 100px));
                    width: 0;
                    min-width: 0;
                    @include responsive(sm){
                        transform: translateX(0);
                        width: 250px;
                        min-width: 250px;
                    }
                    @include responsive(xs){
                        width: 80%;
                    }
                }
            }
            .products{
                display: flex;
                width: 100%;
                padding-left: 0;
                flex-wrap: wrap;
                .product{
                    width: 33.33%;
                    padding: 10px;
                    padding-bottom: 40px;
                    list-style: none;
                    @include responsive(lg){
                        width: 50%;
                        &:nth-child(2n){
                            padding-right: 0;
                        }
                    }
                    @include responsive(sm){
                        width: 100%;
                        padding: 0 0 40px 0;
                        &:nth-child(2n){
                            padding-right: inherit;
                        }
                    }
                    &:nth-child(3n){
                        padding-right: 0;
                        @include responsive(lg){
                            padding-right: inherit;
                        }
                    }
                    a{
                        width: 100%;
                        color: $textMed;
                        text-decoration: none;
                        img{
                            width: 100%;
                            height: auto;
                            margin-bottom: 20px;
                            &.attachment-woocommerce_thumbnail{
                                display: none;
                            }
                        }
                        .woocommerce-loop-product__title{
                            text-transform: uppercase;
                            margin-top: 0;

                        }
                        .short_description{
                            margin-bottom: 20px;
                        }
                        .price{
                            font-size: 22px;
                            font-weight: 500;
                            margin-bottom: 20px;
                        }
                    }
                    .button{
                        background-color: #404040;
                        color: $grey;
                        text-transform: uppercase;
                        padding: 10px 20px;
                        margin-top: 15px;
                        border-radius: 3px;
                        text-align: center;
                        font-size: 14px;
                        width: auto;
                        transition:all .3s ease;
                        &:hover{
                            background-color:#000;
                        }
                    }
                }
            }
        }
    }
}
.woocommerce-breadcrumb{
    @include responsive(sm){
        display: none;
    }
}
.woocommerce-products-header{
    @include responsive(sm){
        display: none;
    }
}
.all{
    @include responsive(md){
        padding-top: 90px;
    }
}