.left-block{
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    &.banner{
        // height: 599px;
    }
    @include responsive(xs){
        display: flex !important;
        align-items: flex-end !important;
    }
    .inner{
        max-width: 1200px;
        margin: 0 auto; 
        // position: relative;
        z-index: 1;
        width: 100%;
        padding: 60px 0; 
        @include responsive(xs){
            padding: 22px 0; 
            justify-content: center !important;
        }
        .content{
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 450px;
            margin-left: 50px;
            @include responsive(xs){
                margin-left: 0px;
                max-width: 100%;
                margin: 0 !important;
            }
            div{
                text-align: center;
                color: white;
                text-decoration: none;
            }
            .heading{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 66px;
                line-height: 85%;
                margin-bottom: 15px;
                width: 100%;
                @include responsive(xs){
                    margin-bottom: 20px;
                    line-height: 85%;
                    font-size: 56px;
                    text-align: center;
                }
                .top{
                    font-size: 44px;
                    line-height: 80%;
                    @include responsive(xs){
                        font-size: 28px;
                    }
                    .has-mobile{
                        display: none;
                        @include responsive(xs){
                            display: inline;
                        }
                    }
                }
                .has{
                    @include responsive(xs){
                        display: none;
                    }
                }
            }
            .description{
                font-size: 22px;
                margin-bottom: 20px;
                @include responsive(xs){
                    font-size: 20px;
                }
            }
            .button{
                font-size: 50px;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                transition: 100ms ease;
                display: flex;
                align-items: center;
                grid-gap: 10px;
                .button-icon{
                    width: 26px;
                }
                &:hover{
                    scale: 1.1;
                    transition: 100ms ease;
                }
                @include responsive(xs){
                    font-size: 28px;
                }
            }
        }
    }
}