.left-block{
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    margin-bottom: 60px;
    @include responsive(xs){
        align-items: flex-end;
    }
    .inner{
        max-width: 1200px;
        margin: 0 auto; 
        // position: relative;
        z-index: 1;
        width: 100%;
        padding: 60px 0; 
        .content{
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 385px;
            margin-left: 50px;
            @include responsive(xs){
                margin-left: 0px;
                max-width: 100%;
                
            }
            div{
                text-align: center;
                color: white;
                text-decoration: none;
            }
            .heading{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 50px;
                margin-bottom: 10px;
                width: 100%;
                @include responsive(xs){
                    margin-bottom: 20px;
                    line-height: 85%;
                    font-size: 64px;
                }
                .top{
                    font-size: 30px;
                    line-height: 80%;
                    .has-mobile{
                        display: none;
                        @include responsive(xs){
                            display: inline;
                        }
                    }
                }
                .has{
                    @include responsive(xs){
                        display: none;
                    }
                }
            }
            .description{
                font-size: 18px;
                margin-bottom: 20px;
            }
            .button{
                font-size: 36px;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                @include responsive(xs){
                    font-size: 30px;
                }
            }
        }
    }
}