.two-column{
    &.with-shortcode{
        .inner{
            // align-items: flex-start;
            .left{
                // margin-top: 35px;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    left: 20px;
                    width: 1px;
                    top: 0;
                    bottom: 0;
                    background-color: #909090;
                }
            }
        }
    }
    .inner{
        max-width:1200px;
        margin:0 auto;
        display:flex;
        align-items: center;
        padding:40px 0px;
        @include responsive(lg){
            max-width:100%;
            padding:40px 20px;
        }
        @include responsive(sm){
            flex-wrap:wrap;
        }
        .left{
            flex: 0 0 50%;
            padding-right:40px;
            @include responsive(sm){
                flex: 0 0 100%;
                padding:0;
            }
            .heading{
                font-size:28px;
                font-weight:600;
            }
        }
        .right{
            flex: 0 0 50%;
            @include responsive(sm){
                width: 100%;
                padding: 0 20px;
            }
            img{
                width:100%;
                height:auto;
            }
        }
        &.inverted{
            flex-direction:row-reverse;
            @include responsive(sm){
                flex-direction:column-reverse;
                padding:0;
            }
            .left{
                padding-left:40px;
                padding-right:0;
            }
        }
    }
}
.wpforms-field-container{
    textarea{
        resize: none;
    }
}
.wpforms-submit-container{
    button{
        background-color:#404040 !important;
        &:active{
            outline: none;
        }
    }
    @include responsive(sm){
        display: flex;
        justify-content: center;
    }
}