.footer{
    margin-top:100px;
    background:$grey;
    .inner{
        max-width:1200px;
        margin:0 auto;
        @include responsive(lg){
            padding:0px 20px;
        }
        .footer-row{
            padding:20px 0px;
            display:flex;
            @include responsive(sm){
               flex-wrap:wrap;
            }
            &.top-row{
                justify-content: flex-end;
                min-height:250px;
                @include responsive(sm){
                    justify-content: start;
                    min-height:200px;
                }
            }
            .footer-col{
                flex: 0 0 20%;
                @include responsive(sm){
                    flex : 0 0 33.3%;
                }
                @include responsive(xs){
                    flex: 0 0 100%;
                }
                .group-name{
                    font-size:14px;
                    font-weight:600;
                    text-transform:uppercase;
                    margin-bottom:10px;
                }
                .menu{
                    .menu-item{
                        a{
                            color:#000;
                            line-height:1;
                            text-decoration:none;
                            font-size:14px;
                            text-transform: uppercase;
                            margin-bottom:5px;
                            transition:all .3s ease;
                            &:hover{
                                font-weight:600;
                            }
                        }
                    }
                }
            }
            &.socials-row{
                padding:10px 0px;
                justify-content: space-between;
                align-items: center;
                border-top:1px solid #BDBDBD;
                border-bottom:1px solid #BDBDBD;
                @include responsive(xs){
                    flex-wrap:wrap;
                    gap:20px;
                    border-top:0px;
                }
            }
            .socials-wrap{
                display:flex;
                align-items: center;
                gap:10px;
                .social-item{
                    display:inline-flex;
                    img{
                        width:40px;
                        height:40px;
                        display:block;
                        transition:0.3s all ease;
                    }
                }
            }
            .newsletter-wrap{
                @include responsive(xs){
                    flex:0 0 100%;
                }
                form{
                    display:flex;
                   
                    input.email-input{
                        height:40px;
                        width:283px;
                        font-family:$gilroy;
                        background-color:transparent;
                        font-size:14px;
                        padding:0px 20px;
                        border: 1px solid #BDBDBD;
                        border-radius:5px 0px 0px 5px;
                        @include responsive(xs){
                            flex:1;
                            width:unset;
                        }
                    }
                    input.submit{
                        background-color:#404040;
                        color:#fff;
                        font-family:$gilroy;
                        border:none;
                        outline:none;
                        padding:10px;
                        font-size:14px;
                        border-radius:0px 5px 5px 0px;
                        transition:0.3s all ease;
                        cursor:pointer;
                        &:hover{
                            background-color:#000;
                        }
                    }
                }
            }
            .copyright{
                font-size:12px;
            }
            &.bottom-row{
                justify-content: space-between;
                align-items: center;
                @include responsive(sm){
                    justify-content: center;
                    flex-wrap:wrap;
                    .copyright{
                        flex: 0 0 100%;
                        text-align: center;
                    }
                }
                .bottom-menu{
                    display:flex;
                    @include responsive(xs){
                        margin-top:5px;
                        flex-wrap:wrap;
                        justify-content: center;
                    }
                    .menu-item{
                        padding-right:10px;
                        margin-right:10px;
                        font-size:12px;
                        border-right:1px solid #000;
                        a{
                            
                            color:#000;
                            line-height:1;
                            text-decoration:none;
                            transition:all .3s ease;
                            &:hover{
                                font-weight:600;

                            }
                        }
                        &:last-child{
                            padding:0;
                            margin:0;
                            border:none;
                        }
                    }
                }
            }
        }
    }
}