
* {
    outline:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub { 
    top: 0.4em; 
  }

html, body { 
    margin:0;
    padding:0;
    background-color:$grey;

}
*, :after, :before{
  box-sizing:border-box;
}
a{
  display:inline-block;
}
body {
    position:relative;
    font-family:$gilroy;
    &.noscroll{
      height: 100vh;
      overflow: hidden;
    }
}



