.header{
    .inner{
        background-color:$grey;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:30px 60px;
        position:relative;
        .logo-wrap{
            img{
                max-width:260px;
                height:auto;
            }
        }
        .menu-wrap{
            display:flex;
            gap:70px;
            flex:1;
            justify-content: center;
            .menu-item{
                a{
                    font-size:18px;
                    text-transform:uppercase;
                    color:#000;
                    text-decoration:none;
                }
                .mega-menu{
                    background-color:#fff;
                    position:absolute;
                    width:100%;
                    left:0;
                    right:0;
                    top:96px;
                    border-bottom:1px solid #000;
                    &-inner{
                        padding:30px 0px;
                        display:flex;
                        max-width:1200px;
                        margin:0 auto;
                        justify-content: space-between;
                        .menu-col{
                            flex: 0 0 25%;
                            .submenu-item{
                                a{
                                  font-weight:600;  
                                }
                                .child-menu{
                                    margin-top:20px;
                                    .child-item{
                                        a{
                                            font-size:16px;
                                            font-weight:normal;
                                            margin-bottom:10px;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-controls{
            display:flex;
            gap:10px;
        }
    }
}