/* @import must be at top of file, otherwise CSS will not work */
// @import './fonts';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// $gilroy : 'Gilroy'; 
$gilroy : 'Raleway', sans-serif; 

//colors
$white : #fff;
$grey : #f4f4f4;

$textDark : #1B1B1B;
$textMed : #323232;

// Breakpoints Structure
$custom-breakpoints: (
    xs: (minSize: 0px, maxSize: 575px,name: 'XS'),
    sm: (minSize: 576px, maxSize: 767px,name: 'SM'),
    md: (minSize: 768px, maxSize: 991px,name: 'MD'),
    lg: (minSize: 992px, maxSize: 1240px,name: 'LG'),
    xl: (minSize: 1250px, maxSize: 1499px,name: 'XL'),
    max: (minSize: 1500px, maxSize: 0px,name: 'MAX')
); 

