/* @import must be at top of file, otherwise CSS will not work */
@import './fonts';

$gilroy : 'Gilroy'; 

//colors
$white : #fff;
$grey : #f4f4f4;

$textDark : #1B1B1B;
$textMed : #323232;

// Breakpoints Structure
$custom-breakpoints: (
    xs: (minSize: 0px, maxSize: 575px,name: 'XS'),
    sm: (minSize: 576px, maxSize: 767px,name: 'SM'),
    md: (minSize: 768px, maxSize: 991px,name: 'MD'),
    lg: (minSize: 992px, maxSize: 1240px,name: 'LG'),
    xl: (minSize: 1250px, maxSize: 1499px,name: 'XL'),
    max: (minSize: 1500px, maxSize: 0px,name: 'MAX')
); 

